/* Start Global Styles */
:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1600px;
}

* {
  box-sizing: border-box;
}

a {
  color: black !important;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
  letter-spacing: 4px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
}

hr {
  border-top: solid black 3px;
  width: 13%;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 600px) {
  hr {
    width: 8%;
    border-top: solid black 3px;
  }
}

.col-6 {
  padding-top: 200px;
}
/* End Global Styles */

/* Start Header */
header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  font-family: "Lato", sans-serif;
}

header .container {
  position: relative;
  height: 100%;
  padding: 0;
}

.navbar-brand {
  position: absolute;
  height: 100%;
  max-width: 100px;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 650ms;
}

.navbar-brand:hover {
  opacity: 0.8;
}

.hamburger-menu {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  background-color: transparent;
  border: 2.5px solid #beaf8c;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}

.hamburger-menu:hover {
  background-color: #beaf8c;
}

.hamburger-menu i {
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  margin: auto;
}

.hamburger-menu .fa-times {
  display: none;
}

.hamburger-menu .fa-times.open {
  display: block;
}

.hamburger-menu .fa-bars.open {
  display: none;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  list-style: none;
  background-color: rgb(161, 161, 161);
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 650ms;
}

.nav-list.open {
  opacity: 1;
  transform: scale(1);
}

@media (min-width: 576px) {
  .navbar-brand {
    max-width: 150px;
  }
  .hamburger-menu {
    top: 35px;
    right: 25px;
  }
}

@media (min-width: 786px) {
}

@media (min-width: 992px) {
  header > .container {
    padding: 0 15px;
  }
  .hamburger-menu {
    display: none;
  }
  .navbar-brand {
    position: initial;
    transform: initial;
  }
  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: initial;
    flex-direction: row;
    opacity: initial;
    transform: initial;
    transition: initial;
    margin: 0;
    padding: 0;
  }
  .nav-item {
    margin: 0 30px;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
  .nav-link {
    position: relative;
    padding: 0;
  }
  .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: hotpink;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 650ms;
  }
  .nav-link:hover::before {
    transform: scaleX(1);
  }
}
/* End Header */

/* .menu_container {
  z-index: 1;
  position: absolute;
  top: 60px;
  right: 11%;
  border: 2px solid #beaf8c;
  border-radius: 50%;
  padding-bottom: 8px;
  height: 50px;
  width: 50px;
}

#menu_burger {
  z-index: 1;
  position: absolute;
  font-size: 60px;
  margin-top: -27px;
  margin-left: 6.5px;
  padding-bottom: 8px;
}

.menu_container:hover {
  background-color: #beaf8c;
}
 */
/*Logo*/
/* #container_logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
  height: 15px;
  background-position: top;
  background-size: 100%;
  background-image: url(img/Logo.png);
  padding: 1rem;
  margin-left: 1.2rem;
  margin-top: 0.3rem;
} */

/* The side navigation menu */
/* .sidenav {
  margin: 0px;
  height: 0;
  width: 100%; */
/* 0 width - change this with JavaScript */
/* position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(160, 159, 139);
  overflow-x: hidden; */
/* Disable horizontal scroll */
/*  transition: 0.5s;
  z-index: 3;
} */

/* The navigation menu links */
/* .sidenav a {
  padding: 8px 8px 8px 32px;
  text-align: center;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  justify-content: center;
}

.sidenav a:hover {
  color: #8e8e74;
} */

/* Position and style the close button (top right corner) */
/* .sidenav .closebtn {
  font-size: 36px;
  text-align: right;
  padding-top: 59.3px;
  padding-right: 11.6%;
} */

/* Navigation */
/* 
#home-navigation {
  display: none;
}

#home-navigation .nav {
  display: block;
}

#home-navigation .nav:after {
  content: "";
  width: 2px;
  height: 90%;
  position: absolute;
  right: -27px;
  top: 4px;
  background-color: black;
  z-index: -1;
}

#home-navigation .nav li {
  display: block;
  text-align: right;
}

#home-navigation .nav li + li {
  margin-top: 25px;
}

#home-navigation .nav li a {
  padding: 0;
  color: black;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  text-decoration: none;
}

#home-navigation .nav li a.active:after {
  background-color: white;
  width: 18px;
  height: 18px;
  transform: translate(5px, -50%);
}

#home-navigation .nav li a:hover:after,
#home-navigation .nav li a:focus:after {
  background-color: white;
}

#home-navigation .nav li a:after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  z-index: 1;
  border-radius: 50%;
  transform: translate(0, -50%);
  height: 8px;
  width: 8px;
  background-color: black;
  border: 2px solid black;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  #home-navigation {
    display: block;
    position: fixed;
    z-index: 51;
    right: 80px;
    bottom: 10%;
    transition: opacity 0.3s, visibility 0.3s;
  }
}

*/
*/

/* Forside */
/* .button {
  display: inline-block;
  border: 2px solid #beaf8c;
  padding: 10px 15px;
  font-weight: 700;
  border-radius: 25px;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  transition: background-color 0.3s;
  color: black;
}

.button:hover {
  background-color: #beaf8c;
} */

/* About */

.fulltext {
  margin-left: 300px;
  margin-right: 300px;
  font-size: 18px;
}

/* Start Learn Section */
.lead {
  padding-bottom: 3rem;
}

.narrow {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e1e6e0;
}

.btn-secondary {
  border: 3px solid #beaf8c;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.4rem 10rem;
  background-color: transparent;
}

.btn-secondary:hover {
  border: 3px solid #beaf8c;
  background-color: #beaf8c;
}
/* End Learn Section */

/* Start About Section */
.row_2 h2 {
  text-align: center;
}
/* End About Section */

/* Start Prodcut Section */
.product {
  background-color: #e1e6e0;
  padding: 4rem 2rem;
}

.product-heading h2 {
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
}

.product-heading h3 {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
}

.product img {
  height: 50vh;
  max-width: 100%;
}
/* End Prodcut Section */

/* Start Fixed Background */
.heading-underline {
  width: 4rem;
  height: 0.2rem;
  background-color: rgb(0, 0, 0);
  margin: 0 auto 5rem;
}

.fixed-background {
  background-image: url(img/sebastian-staines-Jk4b7zztsek-unsplash.jpg);
  z-index: -1;
  background-size: cover;
  background-attachment: fixed;
  padding: 7rem 4rem;
}

.fixed-background h1 {
  text-align: center;
}
.fixed-background h2 {
  margin-bottom: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  text-align: center;
}

.fixed-background p {
  margin-top: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  padding: 0rem 3rem 0rem 3rem;
}

@media only screen and (max-width: 600px) {
  .fixed-background p {
    padding: 0rem 0rem 0rem 0rem;
  }
}
/* End Fixed Bacground */

@media only screen and (min-width: 600px) {
  .row_2 p {
    padding-left: 6rem;
    padding-right: 5em;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.left,
.right {
  width: 25%;
}

.middle {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Last Row front page  */

/* Start Footer */
.footer {
  background-color: #101d2c;
}

.shop-info {
  padding-top: 3.5rem;
}
.shop-info i {
  color: rgb(255, 255, 255);
  font-size: 2.6rem;
}

.shop-info h1 {
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

.shop-info p,
.shop-info address {
  color: rgba(225, 225, 225, 0.5);
}

.footer hr {
  border-top: 1px solid rgba(225, 225, 225, 0.5);
  width: 100%;
}

.designed {
  color: white;
}
/* End Footer */

/* .footer {
  text-align: center;
  position: sticky;
  font-family: "Poppins", sans-serif;
  color: #c8c7ae;
}

.media_wrapper {
  display: flex;
  justify-content: center;
}

.item {
  font-size: 25px;
  margin: 2vw;
  color: #bdbd19;
}

.fa {
  width: 50px;
  justify-content: center;
}

.copyright {
  font-size: 10px;
  margin: 4vw;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.copyright p {
  font-size: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
 */
